<!DOCTYPE html>
<html>
<head>
    <title>OneStop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>

<nav class="navbar">
    <div class="logo">OneStop</div>

    <div class="nav-actions">
        <button onclick="goToCart()">Cart</button>
        <button id="dashboardBtn" style="display:none;">Dashboard</button>
        <div id="authArea"></div>
        <button onclick="toggleTheme()">🌙</button>
        <button onclick="window.location.href='/orders-page'">My Orders</button>
    </div>
</nav>

<div class="top-controls">
    <div class="search-sort">
        <input placeholder="Search products...">
        <select>
            <option>Sort</option>
        </select>
    </div>
</div>

<header class="hero">
    <h1>Welcome to OneStop</h1>
</header>

<section class="category-bar">
    <button class="filter-btn" data-category="all">All</button>
    <button class="filter-btn" data-category="mobiles">Mobiles</button>
    <button class="filter-btn" data-category="computers">Computers</button>
    <button class="filter-btn" data-category="accessories">Accessories</button>
</section>

<section>
    <div id="products" class="products-grid">
        {% for product in products %}
        <div class="product-card"
             data-name="{{ (product.name or product.product_name) | lower }}"
             data-price="{{ product.price }}"
             data-rating="{{ product.rating or 4 }}"
              data-category="{{ product.category.lower() }}"
             data-final-price="{{ (product.price * (1 - product.discount_percent/100)) if product.discount_percent else product.price }}">

            {% if product.discount_percent %}
            <span class="badge">-{{ product.discount_percent }}%</span>
            {% endif %}

<img src="{{ product.image_url }}" 
     onerror="this.src='https://picsum.photos/200/150'">
            <h3>{{ product.name or product.product_name }}</h3>

            <div class="rating">
                ⭐ {{ product.rating or 4.0 }}
            </div>

            <div class="price">
                <span class="new-price">
                    ₹{{ (product.price * (1 - product.discount_percent/100)) | round(0) }}
                </span>
                {% if product.discount_percent %}
                <span class="old-price">₹{{ product.price }}</span>
                {% endif %}
            </div>

            <button class="add-to-cart" data-product-id="{{ product.id or product.product_id }}">
                Add to Cart
            </button>
        </div>
        {% endfor %}
    </div>
</section>

<div id="toast" class="toast hidden"></div>

</body>
</html>