<!DOCTYPE html>
<html>
<head>
    <title>Marketplace</title>
</head>
<body>

<h1>Users List</h1>

<ul>
    {% for user in users %}
        <li>{{ user[1] }} (Joined: {{ user[2] }})</li>
    {% endfor %}
</ul>
<h2>Products</h2>
<ul>
    {% for product in products %}
        <li>{{ product[1] }} (Stock: {{ product[3] }})</li>
    {% endfor %}
</ul>
<h2>Add User</h2>
<form method="POST" action="/add_user">
    <input type="text" name="username" placeholder="Enter name">
    <button type="submit">Add</button>
</form>

</body>
</html>